{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Your Conversations</h2>
    <div class="user-list">
        <ul class="chat-list">
            {% for profile in profiles %}
                <li class="chat-item">
                    <div class="profile-info">
                        <div class='profile'>
                            <div>
                                {% if profile.profile.profile_pic %}
                                    <img src="{{ profile.profile.profile_pic.url}}" alt="Profile picture" class="profile-icon">
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" alt="Default profile picture" class="profile-icon">
                                {% endif %}
                            </div>
                            <strong>
                                <a href="{% url 'profile' username=profile.username %}">{{ profile.username }}</a>
                            </strong>
                        </div>
                        <div class='btn'>
                            <button type="button" class="msg-btn btn-primary" id="message-button" onclick="openChat('{{ profile.username }}', '{% if profile.profile.profile_pic %}{{ profile.profile.profile_pic.url }}{% else %}/static/images/default.png{% endif %}')" >Message</button>
                        </div>
                    </div>
                </li>
            {% empty %}
                <p>No conversations yet.</p>
            {% endfor %}
        </ul>
    </div>
    <!-- Chat Modal (Pop-up) -->
    <div id="chat-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeChatModal()">&times;</span>
            <div class="chat-header">
                <img id="chat-profile-pic" src="{{ profile.profile_pic.url }}" alt="Profile picture" class="chat-profile-icon">
                <h3 id="chat-username"></h3>
            </div>
            <div id="chat-box" data-current-user="{{ request.user.username }}">
                <!-- Chat messages will be dynamically added here -->
            </div>
            <form id="chat-form" data-chat-id="{{ chat.id }}" onsubmit="sendMessage(event)">
                {% csrf_token %}
                <input type="text" id="chat-message" placeholder="Type your message..." required>
                <button type="submit">Send</button>
            </form>
            
        </div>
    </div>
<!-- Include your JavaScript and CSS files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/messages.css' %}">
<script src="{% static 'js/messages.js' %}"></script>
{% endblock %}