{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Edit Profile</h1>
<div class="board">
    <div class="profile-image-container">
        <h4>Profile Pic Preview:</h4>
        {% if user.profile.profile_pic %}
            <img id="currentProfilePic" src="{{ user.profile.profile_pic.url }}" alt="Current Profile Picture" class="profile-pic-preview">
        {% else %}
            <img id="currentProfilePic" src="{% static 'images/default.png' %}" alt="Default Profile Picture" class="profile-pic-preview">
        {% endif %}
        
    </div>
    <form method="post" enctype="multipart/form-data" action="{% url 'profile_settings' %}">
        
        {% csrf_token %}
        <div class="form-group">
            {{ form.bio.label_tag }} {{ form.bio }}  <!-- Render bio field -->
            {{ form.location.label_tag }} {{ form.location }}  <!-- Render location field -->
            
            <!-- Input for profile picture upload -->
            <input type="file" id="profilePicInput" name="profile_pic" accept="image/*" onchange="previewImage(event)">
        </div>
        
        <button type="submit" id="update-btn" class="btn btn-primary">Update Profile</button>
        <button type="button" id="cancle-btn" class="btn btn-secondary" onclick="window.location.href='{% url 'profile' username=user.username %}'">Cancel</button>
    </form>
</div>

<link rel="stylesheet" href="{% static 'css/profile_settings.css' %}">
<script src="{% static 'js/profile_settings.js' %}"></script>

{% endblock %}
