{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2 class="my-4">Sign Up</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <div>
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group" >
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="text-danger">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="text-danger">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="signup_btn btn-primary">Sign Up</button>
    </form>
    <div id="emailConfirmPopup" style="display: none;">
        <p>Registration successful! Please check your email to confirm your account.</p>
        <button onclick="redirectToSignIn()">OK</button>
    </div>
    <p class="mt-3">Already have an account? <a href="{% url 'sign_in' %}">Login here</a>.</p>

<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}
